<a href="https://colab.research.google.com/github/harditsingh/IntroDataScience/blob/master/mainanalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Kickstarter Data Analysis Project

In [0]:
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 16, 8

from scipy.stats import norm
from scipy import stats

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import statsmodels.api as sm
from statsmodels.stats.contingency_tables import mcnemar

import warnings
warnings.filterwarnings('ignore')

In [4]:
df_train = pd.read_csv('https://raw.githubusercontent.com/harditsingh/IntroDataScience/master/Kickstarter%20Project/KS_train_data.csv', delimiter=',')

df_test = pd.read_csv('https://raw.githubusercontent.com/harditsingh/IntroDataScience/master/Kickstarter%20Project/KS_test_data.csv', delimiter=',')

df_train.head()

  project_id  ...                                         reward_url
0  KS_000000  ...  https://www.kickstarter.com/projects/hilaryeme...
1  KS_000001  ...  https://www.kickstarter.com/projects/17146650/...
2  KS_000002  ...  https://www.kickstarter.com/projects/belveal/m...
3  KS_000003  ...  https://www.kickstarter.com/projects/107813091...
4  KS_000004  ...  https://www.kickstarter.com/projects/104409276...

[5 rows x 21 columns]

There is a big issue with the data. The blurb basically has the description of a particular project. The description might have a comma somewhere in between. Now, the dataset is a CSV set, and it uses comma to separate each column on every row. On some rows, the comma in the blurb will be considered as a column separator and would split up the data incorrectly. Case in point, the following example:

In [5]:
df_train[df_train['project_id'] == 'KS_004834']

     project_id  ...                                         reward_url
4834  KS_004834  ...  https://www.kickstarter.com/projects/mrsunligh...

[1 rows x 21 columns]